<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ShapeEngineExamples</string>
	<key>CFBundleDisplayName</key>
	<string>ShapeEngineExamples</string>
	<key>CFBundleIdentifier</key>
	<string>com.davegreengames.ShapeEngineExample</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Examples</string>
	<key>CFBundleIconFile</key>
	<string>examples</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
</dict>
</plist>
